<div id="channel_<%= channel.id %>_user_list" class="user-list">
  <div class="header"><%= channel.channel_users.size %> users</div>

  <%= render "channels/user_list_content", channel: channel %>
</div>
