<div id="channel_<%= channel.id %>_user_list" class="user-list">
  <div class="drawer-header">
    <span class="title"><%= channel.channel_users.size %> users</span>
    <button class="close" data-action="userlist-drawer#close" aria-label="Close user list">&times;</button>
  </div>
  <div class="content">
    <%= render "channels/user_list_content", channel: channel %>
  </div>
</div>
