<div id="<%= dom_id(message) %>" class="message message-<%= message.message_type %>">
  <span class="message-sender"><%= message.sender %></span>
  <span class="message-content"><%= message.content %></span>
</div>
