<h1>Servers</h1>

<ul>
  <% @servers.each do |server| %>
    <li data-address="<%= server.address %>">
      <%= link_to server.address, server %>
      (<%= server.connected_at ? "Connected" : "Disconnected" %>)
    </li>
  <% end %>
</ul>

<%= link_to "Add Server", new_server_path %>
